/* == Basic Element Styles ============================== */

/* headings */
#editor h1::before { content: "# ";      color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#editor h2::before { content: "## ";     color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#editor h3::before { content: "### ";    color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#editor h4::before { content: "#### ";   color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#editor h5::before { content: "##### ";  color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#editor h6::before { content: "###### "; color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }

#editor p {
	text-align: justify;
}

/* -- wikilinks, tags, citations ------------------------ */

/* wikilinks */
.wikilink { font-family: var(--code-font); font-size: 0.95em; color: var(--color-wikilink); }
.wikilink::before { content: "[["; color: var(--color-inline-delims); letter-spacing: -0.1em}
.wikilink::after  { content: "]]"; color: var(--color-inline-delims); letter-spacing: -0.1em}

/* tags */
.tag { font-family: var(--font-editor); color: steelblue; }
.tag::before { content: "#"; font-family: var(--code-font);}

/* citation */
.citation { font-family: var(--code-font); font-size: 0.95em; color: seagreen; }
.citation::before { content: "@["; color: var(--color-inline-delims); letter-spacing: -0.1em; font-family: var(--code-font);}
.citation::after  { content: "]";  color: var(--color-inline-delims); letter-spacing: -0.1em; font-family: var(--code-font);}