# workaround for electron-builder's incompatability with pnpm
# https://github.com/electron-userland/electron-builder/issues/6289#issuecomment-1042620422
# https://github.com/pnpm/pnpm/issues/5724#issuecomment-1345780170
node-linker=hoisted