@import url('../../assets/fonts/lora/lora.css');

:root {
	--code-font: "Consolas", "Ubuntu Mono", monospace;
	--serif-font: "Lora", serif;
	--sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
	font-family: var(--sans-font);
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
}

a {
	color: steelblue;
}

li p {
	margin: 0;
}

em.ul {
	font-style: normal;
	text-decoration: underline;
}

a.wikilink { font-family: var(--code-font); }
a.wikilink::before { content: "[["; color: #e0e0e0; }
a.wikilink::after { content: "]]"; color: #e0e0e0; }


/* User Interface --------------------------------------- */

#app {
	display: grid;
	grid-template-areas: "sidebar header" "sidebar content" "sidebar footer";
	grid-template-rows: 2em 1fr 2em;
	grid-template-columns: 0 1fr;
	
	width: 100%;
	height: 100%;
}

#footer {
	grid-area: footer;
	background-color: rgb(76, 76, 172);
}

#header {
	grid-area: header;
	background-color: rgb(175, 85, 85);
}

#content {
	grid-area: content;
	padding: 1em;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: white;
}

#sidebar {
	grid-area: sidebar;
	background-color: rgb(196, 196, 105);
}

#app {

	h1::before { content: "# ";     color: #ccc; margin-left: 0.5rem; }
	h2::before { content: "## ";    color: #ccc; margin-left: 0.5rem; }
	h3::before { content: "### ";   color: #ccc; margin-left: 0.5rem; }
	h4::before { content: "#### ";  color: #ccc; margin-left: 0.5rem; }
	h5::before { content: "##### "; color: #ccc; margin-left: 0.5rem; }
	h6::before { content: "##### "; color: #ccc; margin-left: 0.5rem; }

	p {
		margin-left: 0.5em;
		font-size: 20px;
		font-family: var(--serif-font);
	}
}

/* ProseMirror ------------------------------------------ */

shouting { display: inline; text-transform: uppercase; font-weight: bold; }

note, notegroup { display: block; border: 1px solid silver; border-radius: 3px; padding: 3px 6px; margin: 5px 0; }
  notegroup { border-color: #66f }

.ProseMirror {
	counter-reset: prosemirror-footnote;
	outline: none;
}
footnote {
	display: inline-block;
	position: relative;
	cursor: pointer;
}
footnote::after {
	content: counter(prosemirror-footnote);
	vertical-align: super;
	font-size: 75%;
	counter-increment: prosemirror-footnote;
}
.ProseMirror-hideselection .footnote-tooltip *::selection { background-color: transparent; }
.ProseMirror-hideselection .footnote-tooltip *::-moz-selection { background-color: transparent; }
.footnote-tooltip {
	cursor: auto;
	position: absolute;
	left: -30px;
	top: calc(100% + 10px);
	background: silver;
	padding: 3px;
	border-radius: 2px;
	width: 500px;
}
.footnote-tooltip::before {
	border: 5px solid silver;
	border-top-width: 0px;
	border-left-color: transparent;
	border-right-color: transparent;
	position: absolute;
	top: -5px;
	left: 27px;
	content: " ";
	height: 0;
	width: 0;
}

//// MATH ///////////////////////////////////////////////////

/* Inline Math ------------------------------------------- */

inlinemath {
	min-width: 1em;
	min-height: calc(1em);
	background-color: rgba(0,0,0,0.1);
	display: inline-block;
	font-size: 0.95em;
	text-align: center;
}

inlinemath {
	cursor: auto;
}

inlinemath .math-src::after, inlinemath .math-src::before {
	content: "$";
}

inlinemath .math-src {
	display: none;
	font-family: monospace;
	font-size: 1.2em;
}

inlinemath .math-src .ProseMirror { display: inline-block; }
inlinemath .math-src .ProseMirror:focus { outline: none; }
inlinemath .math-render { display: inline-block; cursor: pointer; }
inlinemath.ProseMirror-selectednode .math-src { display: inline; }
inlinemath.ProseMirror-selectednode .math-render { display: none; }

code {
	display: block;
	padding: 0.5em;
	background-color: #ddd;
	font-family: "Consolas", "Ubuntu Mono", monospace;
	font-size: 0.9em;
}

p code {
	display: inline;
	padding: 0;
}

//// IPYNB ///////////////////////////////////////////////////

cell_markdown {
	display: block;
	padding: 10px;
	margin-block-start: 10px;
	border: 1px solid gray;
}

cell_code {
	display: block;
	margin-block-start: 10px;
	font-family: "Consolas", "Source Code Pro", monospace;
	background-color: #ddd;
	color: #333;
}

cell_markdown:focus-within {
	outline: 3px solid black;
	border: 1px solid blue;
}

//// JOURNAL ///////////////////////////////////////////////

.journal-entry {
	padding: 0.5em;
	border: 1px solid gray;
	border-radius: 5px;
}

.journal-entry p:first-child {
	margin-block-start: 0;
}

.journal-entry p {
	margin-block-end: 0;
	margin-block-start: 0.5em;
}

//// PROMPT ////////////////////////////////////////////////

.ProseMirror-prompt {
  background: white;
  padding: 5px 10px 5px 15px;
  border: 1px solid silver;
  position: fixed;
  border-radius: 3px;
  z-index: 11;
  box-shadow: -.5px 2px 5px rgba(0, 0, 0, .2);
}

.ProseMirror-prompt h5 {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: #444;
}

.ProseMirror-prompt input[type="text"],
.ProseMirror-prompt textarea {
  background: #eee;
  border: none;
  outline: none;
}

.ProseMirror-prompt input[type="text"] {
  padding: 0 4px;
}

.ProseMirror-prompt-close {
  position: absolute;
  left: 2px; top: 1px;
  color: #666;
  border: none; background: transparent; padding: 0;
}

.ProseMirror-prompt-close:after {
  content: "✕";
  font-size: 12px;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}

.ProseMirror-prompt-buttons {
  margin-top: 5px;
  display: none;
}