@import url('../../assets/fonts/lora/lora.css');

:root {
	/** Font Families **/
	--code-font: "Droid Sans Mono", "Ubuntu Mono", "Consolas", monospace;
	--serif-font: "Lora", serif;
	--sans-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

	/** Font Usage **/
	--font-ui: var(--sans-font);
	--font-editor: var(--sans-font);

	--line-height: 1.2em;
	--line-height-list: var(--line-height);

	/** UI Colors **/
	--color-bg: #fefefe;
	--color-bg-1: white;
	--color-bg-2: #ddd;    /* for code_blocks */
	
	--color-text: #111;
	--color-text-faint: #666;
	--color-text-fainter: #aaa;

	/** Semantic Colors **/
	--color-good: green;
	--color-bad: darkred;
	--color-warning: goldenrod;
	--color-neutral: steelblue;
	--color-question: purple;
	--color-todo: purple;

	/** Editor Colors **/
	--color-link: steelblue;
	--color-wikilink: steelblue;
	--color-citation: seagreen;
	--color-definition: blue;
	--color-inline-delims: #d0d0d0;
	--color-heading-level: #e0e0e0;
}

.window-title {
	font-weight: bold;
}

body {
	font-family: var(--font-ui);
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
}

/* links */
a { color: var(--color-link); text-decoration: none; }

li p {
	margin: 0;
}

/* -- Lists --------------------------------------------- */

ul {
	padding-left: 2em;;
	position: relative;
	list-style-type: none;
	line-height: var(--line-height-list);
}

/* List Bullet */
li::before {
	content: "\2022";
	display: inline-block;
	position: absolute;
	left: 0;
	width: 1em;
	margin-left: -1em;
}
li[data-bullet]::before {
	content: attr(data-bullet);
	font-weight: bold;
}
li[data-bullet="*"]::before { content: "\2022"; }
li[data-bullet="-"]::before { content: "\2212"; }

/* Semantic List Items */
li[data-bullet="+"] { color: var(--color-good);     }
li[data-bullet="-"] { color: var(--color-bad);      }
li[data-bullet="?"] { color: var(--color-question); }


em.ul {
	font-style: normal;
	text-decoration: underline;
}

/* blockquote */
blockquote {
	border-left: 0.6em solid #eee;
	color: var(--color-text-faint);
}

img {
	display: block;
	margin: 1em 0 1em 0;
	max-width: 100%;
	max-height: 70vh;
}

/* wikilinks */
.wikilink { font-family: var(--code-font); font-size: 0.95em; color: var(--color-wikilink); }
.wikilink::before { content: "[["; color: var(--color-inline-delims); letter-spacing: -0.1em}
.wikilink::after  { content: "]]"; color: var(--color-inline-delims); letter-spacing: -0.1em}

/* tags */
.tag { font-family: var(--font-main); color: steelblue; }
.tag::before { content: "#"; font-family: var(--code-font);}

/* citation */
.citation { font-family: var(--code-font); font-size: 0.95em; color: seagreen; }
.citation::before { content: "@["; color: var(--color-inline-delims); letter-spacing: -0.1em; font-family: var(--code-font);}
.citation::after  { content: "]";  color: var(--color-inline-delims); letter-spacing: -0.1em; font-family: var(--code-font);}

dfn, .definition {
	color: var(--color-definition);
	font-weight: bold;
}

/* task lists */
li.task-list-item {
	list-style-type: none;
	left: -1em;
}

li.task-list-item input[type='checkbox'] {
	position: relative;
	left: -1em;
}


/* active when CTRL key pressed */
.user-ctrl a               { cursor: pointer; }
.user-ctrl .tag            { cursor: pointer; }
.user-ctrl .wikilink       { cursor: pointer; }
.user-ctrl .citation       { cursor: pointer; }
.user-ctrl a:hover         { text-decoration: underline; }
.user-ctrl .tag:hover      { text-decoration: underline; }
.user-ctrl .wikilink:hover { text-decoration: underline; }
.user-ctrl .citation:hover { text-decoration: underline; }

/* -- Scrollbar ----------------------------------------- */

div::-webkit-scrollbar {
	width: 6px;
	background-color: white;
}

div::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0);
}

div:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
}


/* == USER INTERFACE ==================================== */

#main {
	position: absolute;
	left:0; right:0; bottom:0; top:0;
}

#app {
	display: grid;
	grid-template-areas: "sidebar content" "sidebar content" "sidebar footer";
	grid-template-rows: 2em 1fr 1.5em;
	grid-template-columns: 200px 1fr;
	
	width: 100%;
	height: 100%;
}

#footer {
	grid-area: footer;
	background-color: #e0e0e0;
	vertical-align: middle;
	overflow: hidden;
	line-height: 1.5em;
}

#title {
	display: inline-block;
	font-family: var(--code-font);
	padding-left: 0.5em;
	user-select: none;
	color: #606060;
	text-overflow: ellipsis;
	text-align: right;
	overflow: hidden;
}

#header {
	grid-area: header;
	background-color: rgb(175, 85, 85);
}

#content {
	grid-area: content;
	padding: 0.5em 1.0em 0.5em 0.5em;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: var(--color-bg);
	font-family: var(--font-editor);
}

#sidebar {
	grid-area: sidebar;
	background-color: #f3f3f3;
	overflow-x: hidden;
}

#app {
	color: var(--color-text);
}

#app h1::before { content: "# ";      color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#app h2::before { content: "## ";     color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#app h3::before { content: "### ";    color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#app h4::before { content: "#### ";   color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#app h5::before { content: "##### ";  color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }
#app h6::before { content: "###### "; color: var(--color-heading-level); font-family: var(--code-font); margin-left: 0.5rem; }

#app p {
	margin-left: 0.5em;
	font-size: 18px;
	font-family: var(--font-main);
	text-align: justify;
}

#app li p {
	text-align: left;
}

/* ==== SIDEBAR ========================================= */

/* -- Sidebar Tabs -------------------------------------- */

#sidebar {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	overflow-y: hidden;
}

#sidebar .content {
	flex-grow: 1;
	min-height: 0;
	max-height: 100%;
}

#sidebar .tabs {
	display: flex;
	width: 100%;
	height: 1.5em;
	justify-content: space-between;
	user-select: none;
}

#sidebar .tabs a {
	flex-grow: 1;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
	color: #303030;
}

#sidebar .tabs .codicon {
	vertical-align: middle;
	line-height: 1.5em;
}

#sidebar .tabs .active {
	background: none;
}

#sidebar .tabs a:not(.active):hover {
	background-color: rgba(0,0,0,0.1);
}

/* -- Loading Spinner ----------------------------------- */

.lds-spinner {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 1em auto;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgba(0,0,0,0.2);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

/* -- File Explorer ------------------------------------- */

#tab_explorer {
	max-height: 100%;
	overflow-y: overlay;
}

.folder[data-collapsed=true]::before {
	content: ">";
}

.folder[data-collapsed=true] + .folder-contents {
	display: none;
}

.folder {
	color: #616161;
	font-weight: bold;
	background-color: rgba(0,0,0,0.2);
	padding: 0.1em 0.5em;
	user-select: none;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	font-size: 0.9em;
}

.folder .codicon, .file .codicon {
	margin-right: 0.2em;
}
.folder span, .file span {
	vertical-align: middle;
}

.file {
	color: #616161;
	padding: 0.2em 0.7em;
	user-select: none;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	font-size: 0.9em;
}

.file:hover {
	background-color: rgba(0,0,0,0.1);
}

.file.active, file.active:hover {
	background-color: #a4c2f9;
}

/* -- TAB: Tag Search ----------------------------------- */

#tab_tags input {
	line-height: 2em;
	outline: none;
	border: none;
	border-bottom: 3px solid #999;
}

/* -- TAB: Calendar ------------------------------------- */

.calendar {
	padding: 0.2rem;
	background-color: #ccc;
	user-select: none;
	text-align: center;
	font-size: 0.8em;
}

.calendar .header {
	display: flex;
}
.calendar .prev::before {
	content: "<<";
	padding: 0 1em;
}
.calendar .next::before {
	content: ">>";
	padding: 0 1em;
}

.calendar .title {
	flex-grow: 1;
	font-weight: bold;
}

.calendar table {
	width: 100%;
}

.calendar td:hover {
	background-color: #aaa;
	border-radius: 0.2em;
}

.calendar td.g {
	color: #999;
}


/* == EMBEDDED FILES ==================================== */

.embed {
	position: relative;
	padding: 0.5em 0.5em 0.5em 0;
	border: 1px solid #d0d0d0;
	border-radius: 6px;
	transition: 0.2s;
}

.embed input {
	position: absolute;
	top: -0.5em;
	right: 2em;
	border: 1px solid dodgerblue;
	color: dodgerblue;
	border-radius: 4px;
	font-family: var(--code-font);

	display: none;
}

.embed:focus-within {
	border: 1px solid dodgerblue;
}

.embed:focus-within input {
	display: block;
	animation: anim-embed-focus-input;
	animation-duration: 0.2s;
}

@keyframes anim-embed-focus-input {
	from {
		border-color: rgba(dodgerblue, 0);
		color: #00880000;
	}
	to {
		border-color: rgba(dodgerblue, 1);
		color: rgba(dodgerblue, 1);
	}
}

/* -- Adjustments to Embedded Elements ------------------ */

.embed p:first-of-type {
	margin-top: 0;
}
.embed p:last-of-type {
	margin-bottom: 0;
}

.embed h1 {
	margin-top: 0;
}

/* == REGION ============================================ */

.region {
	position: relative;
	padding: 0.5em 0.5em 0.5em 0;
	border: 1px solid #d0d0d0;
	border-radius: 6px;
	transition: 0.2s;
}

.region::before {
	content: attr(data-region);
	position: absolute;
	top: -0.5em;
	right: 2em;
	border: 1px solid dodgerblue;
	color: dodgerblue;
	background-color: white;
	padding: 1px;
	border-radius: 4px;
	font-family: var(--code-font);
}

.region:focus-within {
	border: 1px solid dodgerblue;
}

.region:focus-within::before {
	display: block;
	animation: anim-embed-focus-input;
	animation-duration: 0.2s;
}

/* -- Adjustments to Embedded Elements ------------------ */

.region p:first-of-type {
	margin-top: 0;
}
.region p:last-of-type {
	margin-bottom: 0;
}

.region h1 {
	margin-top: 0;
}

/* == YAML METADATA EDITOR ============================== */

.meta-editor {
	padding: 1em 0;
	margin: 0 0.5em 1em 0.5em;
	font-family: var(--code-font);
	color: var(--color-text-fainter);
	border-bottom: 1px dashed var(--color-text-fainter);
}

.meta-editor .ProseMirror-focused {
	color: black;
}

.meta-editor .ProseMirror-focused dd {
	border-color: var(--color-text-fainter);
}
.meta-editor .ProseMirror-focused dt {
	border-color: var(--color-text-fainter);
}

.meta-editor dl {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: auto 5fr;
	grid-template-rows: 1fr;
	column-gap: 1em;

	margin: 0;
	font-size: 0.8em;

	overflow: hidden;
}

.meta-editor dt {
	font-weight: bold;
	min-width: 4em;
	max-width: 20vw;
}

.meta-editor dt, .meta-editor dd {
	margin: 0;
	padding: 1px;
	border-width: 0 1px 1px 1px;
	border-style: dotted;
	border-color: transparent;
}

.meta-editor dt:first-of-type, .meta-editor dd:first-of-type {
	border-width: 1px;
}


/* == PROSEMIRROR ======================================= */

shouting { display: inline; text-transform: uppercase; font-weight: bold; }

note, notegroup { display: block; border: 1px solid silver; border-radius: 3px; padding: 3px 6px; margin: 5px 0; }
  notegroup { border-color: #66f }

.ProseMirror {
	counter-reset: prosemirror-footnote;
	outline: none;
}
footnote {
	display: inline-block;
	position: relative;
	cursor: pointer;
}
footnote::after {
	content: counter(prosemirror-footnote);
	vertical-align: super;
	font-size: 75%;
	counter-increment: prosemirror-footnote;
}
.ProseMirror-hideselection .footnote-tooltip *::selection { background-color: transparent; }
.ProseMirror-hideselection .footnote-tooltip *::-moz-selection { background-color: transparent; }
.footnote-tooltip {
	cursor: auto;
	position: absolute;
	left: -30px;
	top: calc(100% + 10px);
	background: silver;
	padding: 3px;
	border-radius: 2px;
	width: 500px;
}
.footnote-tooltip::before {
	border: 5px solid silver;
	border-top-width: 0px;
	border-left-color: transparent;
	border-right-color: transparent;
	position: absolute;
	top: -5px;
	left: 27px;
	content: " ";
	height: 0;
	width: 0;
}

code {
	display: block;
	padding: 0.5em;
	background-color: var(--color-bg-2);
	font-family: "Consolas", "Ubuntu Mono", monospace;
	font-size: 0.9em;
	text-align: left;
}

p code {
	display: inline;
	padding: 0;
}

/* == IPYNB ============================================= */

cell_markdown {
	display: block;
	padding: 10px;
	margin-block-start: 10px;
	box-sizing: border-box;
}

cell_markdown:hover {
	outline: 1px solid gray;
	background-color: #f6f6f6;
}

cell_code {
	display: block;
	margin-block-start: 10px;
	font-family: "Consolas", "Source Code Pro", monospace;
	background-color: #ddd;
	color: #333;
}

cell_markdown:focus-within {
	outline: 3px solid black;
	border: 1px solid blue;
}

math-display {
	margin: 1em 0 1em 0;
}

/* == JOURNAL =========================================== */

.journal-entry {
	padding: 0.5em;
	border: 1px solid gray;
	border-radius: 5px;
}

.journal-entry p:first-child {
	margin-block-start: 0;
}

.journal-entry p {
	margin-block-end: 0;
	margin-block-start: 0.5em;
}

/* == PROMPT ============================================ */

.ProseMirror-prompt {
  background: white;
  padding: 5px 10px 5px 15px;
  border: 1px solid silver;
  position: fixed;
  border-radius: 3px;
  z-index: 11;
  box-shadow: -.5px 2px 5px rgba(0, 0, 0, .2);
}

.ProseMirror-prompt h5 {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  color: #444;
}

.ProseMirror-prompt input[type="text"],
.ProseMirror-prompt textarea {
  background: #eee;
  border: none;
  outline: none;
}

.ProseMirror-prompt input[type="text"] {
  padding: 0 4px;
}

.ProseMirror-prompt-close {
  position: absolute;
  left: 2px; top: 1px;
  color: #666;
  border: none; background: transparent; padding: 0;
}

.ProseMirror-prompt-close:after {
  content: "✕";
  font-size: 12px;
}

.ProseMirror-invalid {
  background: #ffc;
  border: 1px solid #cc7;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  min-width: 10em;
}

.ProseMirror-prompt-buttons {
  margin-top: 5px;
  display: none;
}